#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        commaqmrk: commaqmrk {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMAQMRK";
            bindings = <&kp COMMA>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dotless: dotless {
            compatible = "zmk,behavior-mod-morph";
            label = "DOTLESS";
            bindings = <&kp PERIOD>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slashgreater: slashgreater {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASHGREATER";
            bindings = <&kp SLASH>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        stickyhold: stickyhold {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKYHOLD";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
       &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y      &kp U  &kp I      &kp O     &kp P
       &kp A  &kp S  &kp D  &kp F  &kp G        &kp H      &kp J  &kp K      &kp L     &kp SEMI
&none  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N      &kp M  &commaqmrk  &dotless  &slashgreater  &none
                     &none  &mo 3  &kp LSHFT    &kp SPACE  &mo 2  &none
            >;
        };

        layer_1 {
            bindings = <
       &kp X  &kp L  &kp D  &kp P  &kp G        &kp Z      &kp K  &kp O      &kp U     &kp SEMI
       &kp N  &kp R  &kp T  &kp S  &kp W        &kp Y      &kp H  &kp E      &kp I     &kp A
&none  &kp Q  &kp J  &kp M  &kp C  &kp V        &kp B      &kp F  &commaqmrk  &dotless  &slashgreater  &none
                     &none  &none  &kp LSHFT    &kp SPACE  &none  &none
            >;
        };

        layer_2 {
            bindings = <
       &kp GRAVE  &kp SQT  &none   &none   &none     &none   &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT
       &kp N1     &kp N2   &kp N3  &kp N4  &kp N5    &kp N6  &kp N7     &kp N8     &kp N9    &kp N0
&none  &kp BSLH   &none    &none   &none   &none     &none   &none      &trans     &trans    &trans    &none
                           &none   &trans  &trans    &trans  &trans     &none
            >;
        };

        layer_3 {
            bindings = <
       &kp TAB  &stickyhold LEFT_ALT LEFT_ALT  &stickyhold LCTRL LCTRL  &stickyhold LEFT_GUI LEFT_GUI  &none     &none      &kp MINUS  &kp EQUAL  &none      &kp BSPC
       &kp ESC  &mo 4                          &mkp MB4                 &mkp MB5                       &none     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp RET
&none  &none    &none                          &none                    &none                          &none     &none      &none      &commaqmrk  &dotless   &none     &none
                                               &none                    &trans                         &trans    &kp LSHFT  &trans     &none
            >;
        };

        layer_4 {
            bindings = <
       &trans  &trans  &trans    &trans    &trans      &trans          &trans          &trans        &trans           &trans
       &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
&none  &trans  &trans  &trans    &trans    &trans      &trans          &trans          &trans        &trans           &trans  &none
                       &none     &trans    &trans      &trans          &trans          &none
            >;
        };
    };
};
